<header class="container navi-inner">
	<div class="container">
		<div class="row navi">
			<div class="row span3 logo-div"> <%= link_to image_tag("logo_header.jpg", alt: "Hawaii Healing Works", id: "logo"), root_path %>
			</div>
			<div class="span9">
				<ul class="nav nav-pills right-nav pull-right">
					<li><%= link_to "Services", therapy_path %></li>
					<li class="divider-vertical"></li>
					<li><%= link_to "Conditions", contact_path %></li>
					<li class="divider-vertical"></li>
					<li><a href="#" class="dropdown-toggle" data-toggle="dropdown"> Patient <b class="caret"></b>
						</a>
						<ul class="dropdown-menu pull-right">
							<li><%= link_to "Profile", '#' %></li>
							<li><%= link_to "Settings", '#' %></li>
							<li class="divider"></li>
							<li><%= link_to "Sign out", '#' %></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
</header>